body {
  background-color: #eaf6f6;
}
hr {
  /* border-top-style: dotted;
   border-color: gray;
   border-width: 5px; */
  border: none;
  border-top: 5px dotted gray;
  width: 5%;
}
h1,
h3 {
  color: #66bfbf;
}
